.idea/
.qt/
.qtc_clangd/
.cache/
*.iws
__pycache__/
build/
temp/
site/
.idea_modules/
.vscode/
.DS_Store
*.gba
*.elf
*.sav
*.ss*
*.bk
compile_commands.json

# Ignore build info as it is generated on the build
include/build_info.h

# Ignore custom compiled tools for a while
tools/dmm2xm

# Local clone of mmutil (CI clones its own)
mmutil-src/
